body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;
}

input,
select {
  font-size: 14px;
  border-color: #CCC;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

select {
  height: 41px;
  box-sizing: content-box;
  vertical-align: top;
}

button {
  font-size: 14px;
  border-color: #CCC;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #FFF;
  background: #9E9E9E;
  &.info {
    background: #4A90E2;
  }
  &.warning {
    background: #F5A623;
  }
  &.error {
    background: #D0021B
  }
}
